#lava-lamp .bubble {
    position: absolute;
    bottom: 0;
    aspect-ratio: 1;
}

#lava-lamp::before {
    content: "";
    position: absolute;
    inset: 0;
    backdrop-filter: blur(20px);
    mask-image: radial-gradient(circle at center, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 1) 30%);
    z-index: 10;
}

#home {
    background-image: url("../assets/images/background.webp");
    background-size: cover;
    background-position: center;
}
