.text-underline-anim {
    -webkit-text-stroke: 1rem #111411;
    paint-order: stroke fill;
    animation: underline-anim 1s forwards;
    animation-delay: 0.5s;

    background-repeat: no-repeat;
    background-size: 0 5px;
}

@keyframes underline-anim {
    from {
        background-size: 0 5px;
        background-position: left 90%;
    }

    to {
        background-size: 100% 5px;
        background-position: left 90%;
    }
}


#argentina-container {
    background-image: url('../assets/argentina.svg');
    background-repeat: no-repeat;
    background-size: auto 90%;
    background-position: center;
    overflow: visible;
}


#selected {
    animation: showSelected 0.5s ease-in-out forwards;
}

#selected.remove {
    animation: hideSelected 0.5s ease-in-out forwards;
}

@keyframes showSelected {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes hideSelected {
    from {
        opacity: 1;
        transform: translateY(0);
    }

    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}
